@import "../mixins/media-queries";
@import "../mixins/vars";
@import "../mixins/buttons";

.play-pause {
  @include btn;
  display: flex;
  align-items: center;

  &:focus {
    outline: none;
  }

  > * {
    pointer-events: none;
  }
}

.playlist-pause,
.playlist-play {
  fill: currentColor;
}

.playlist-pause {
  width: 14px;
  height: 17px;
}

.playlist-play {
  width: 14px;
  height: 17px;
}

.playlist-loading > canvas {
  display: block;
}
