@import "../mixins/vars";

.preview-screen {
  background-color: $offwhite;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 25px;
}

.preview-screen__placeholder {
  font-size: 18px;
  color: #999;
  font-style: italic;
  max-width: 250px;
  margin: 0 auto;
  line-height: 1.5;
}
