@import "../mixins/media-queries";

.theme-wrapper {
  min-height: 100vh;

  @include mq($medium-and-up) {
    padding-top: 60px;
  }
}

.theme-wrapper__body {
  max-width: 820px;
  margin: 0 auto;
  padding: 45px 10px 20px;
}
