@import "../mixins/text";
@import "../mixins/media-queries";

.track-info {
  display: flex;
  flex-wrap: wrap;

  @include mq($medium-and-up) {
    flex-wrap: nowrap;
    align-items: center;
  }

  @include mq("max-width: #{$medium - 1}px")  {
    &.is-crawling {
      display: block;
    }
  }
}

.track-info__title {
  flex-basis: 100%;
  font-family: $font-opensans;
  line-height: 19px;

  @include mq($medium-and-up) {
    flex-basis: auto;
    margin-right: 10px;
    line-height: 1;
  }
}

.track-info__show {
  font-family: $font-oswald;
  text-transform: uppercase;
  line-height: 23px;
  font-size: 12px;

  @include mq($medium-and-up) {
    line-height: 1;
  }
}
