<div class="playlist-header">
  {{#if (and showPlayer items)}}
    {{yield (hash
      player=(component 'nypr-player' freestanding=true)
      currentItem=currentItem
    )}}
  {{else if items}}
    <div class="playlist-header__body">
      {{#play-pause-button
        play=(action playAll)
        styles=styles
        Play All
      {{/play-pause-button}}

      <div class="playlist-header__duration">{{readable-duration duration}}</div>
    </div>
  {{/if}}
</div>

<div class="playlist-list">
  {{#each items as |item|}}
    {{yield (hash
      row=(component 'nypr-playlist/item'
        item
        styles=styles
        play=(action play)
        pause=(action pause)
        isPlaying=(and (eq currentItem.audio item.audio) hifi.isPlaying)
        isLoading=(and (eq currentItem.audio item.audio) hifi.isLoading)
      )
    )}}
  {{/each}}
</div>
