<div class="playlist-header">
    <button class="play-pause" {{action play items.firstObject}}>
      {{nypr-svg icon='play' className='playlist-play--big'}}
    </button>

    <div class="player-header">Play All</div>
</div>

<div class="playlist-list">
  {{#each items as |item|}}
    {{yield (hash
      row=(component 'nypr-playlist/item'
        item
        play=(action play)
        pause=(action pause)
        isPlaying=(and (eq currentItem.audio item.audio) hifi.isPlaying)
        isLoading=(and (eq currentItem.audio item.audio) hifi.isLoading)
      )
    )}}
  {{/each}}
</div>
